name: INFRA_VERIFICATION

on:
  push:
    branches: ['**']
    paths:
      - 'terraform/**'
      - '.github/workflows/terraform.yml'
  pull_request:
    branches:
      - main
    paths:
      - 'terraform/**'
      - '.github/workflows/terraform.yml'

jobs:
  terraform:
    uses: ./infrastructure/.github/workflows/terraform-agentnav.yml
    with:
      terraform_directory: infrastructure/terraform/agentnav
      run_apply: false
    secrets: inherit
